aside.skin-1 {
  background: #495B6C;
}
aside.skin-1 .size-toggle {
  border-bottom-color: #415160;
  box-shadow: 0 1px 0 #506274;
  -moz-box-shadow: 0 1px 0 #506274;
  -webkit-box-shadow: 0 1px 0 #506274;
}
aside.skin-1 .size-toggle .btn {
  color: #BECFE0;
}
aside.skin-1 .size-toggle .btn:hover,
aside.skin-1 .size-toggle .btn:focus {
  color: #fff;
}
aside.skin-1 .size-toggle .btn .icon-bar {
  background-color: #BECFE0;
}
aside.skin-1 .sidebar-inner {
  border-right-color: #415160;
}
aside.skin-1 .sidebar-inner .user-block {
  border-bottom-color: #415160;
  box-shadow: 0 1px 0 #506274;
  -moz-box-shadow: 0 1px 0 #506274;
  -webkit-box-shadow: 0 1px 0 #506274;
}
aside.skin-1 .sidebar-inner .user-block .detail {
  color: #BECFE0;
}
aside.skin-1 .sidebar-inner .user-block ul li a {
  color: #BECFE0;
}
aside.skin-1 .sidebar-inner .user-block ul li a:hover,
aside.skin-1 .sidebar-inner .user-block ul li a:focus {
  color: #fff;
}
aside.skin-1 .sidebar-inner .search-block {
  border-bottom-color: #415160;
  box-shadow: 0 1px 0 #506274;
  -moz-box-shadow: 0 1px 0 #506274;
  -webkit-box-shadow: 0 1px 0 #506274;
}
aside.skin-1 .sidebar-inner .search-block input[type="text"],
aside.skin-1 .sidebar-inner .search-block .btn {
  background: #fff;
  color: #BECFE0;
  border-color: #dfdfdf;
}
aside.skin-1 .main-menu > ul > li {
  border-top-color: #506274;
  border-bottom-color: #415160;
}
aside.skin-1 .main-menu > ul > li.active,
aside.skin-1 .main-menu > ul > li.display {
  border-top-color: #415160;
}
aside.skin-1 .main-menu > ul > li.active > a,
aside.skin-1 .main-menu > ul > li.display > a {
  background: #415160;
  color: #fff;
}
aside.skin-1 .main-menu > ul > li > a {
  color: #BECFE0;
}
aside.skin-1 .main-menu > ul > li > a:hover,
aside.skin-1 .main-menu > ul > li > a:focus {
  background: #394754;
  color: #fff;
}
aside.skin-1 .main-menu > ul > li > a .menu-hover {
  background: #feffd8;
  box-shadow: 0 0 10px 0px #ffffff;
  -moz-box-shadow: 0 0 10px 0px #ffffff;
  -webkit-box-shadow: 0 0 10px 0px #ffffff;
}
aside.skin-1 .main-menu > ul > li > .submenu  li  a{
  background-color: #415160;
}
aside.skin-1 .main-menu > ul > li > .submenu  li a .submenu-label{
  color: #BECFE0;
}
aside.skin-1 .main-menu > ul > li > .submenu  li a:hover .submenu-label,
aside.skin-1 .main-menu > ul > li > .submenu  li a:focus .submenu-label {
  color: #fff;
}
aside.skin-1 .main-menu > ul > li > .submenu  li.active a{
  background: #2E3943;
}
aside.skin-1 .main-menu > ul > li > .submenu  li.active a .submenu-label{
  color: #fff;
}
@media (max-width: 767px)   {
    aside.skin-1 .main-menu > ul > li > .dropdown-menu li a {
       color: #BECFE0;
    }
    
    aside.skin-1 .main-menu > ul > li > .dropdown-menu li a:hover 
       ,aside.skin-1 .main-menu > ul > li > .dropdown-menu li a:focus {
        color: #fff;
        background: #415160;
    }
}
#top-nav.skin-6 {
  background: #2B333C;
  border-bottom-color: #415160;
}
#top-nav.skin-6 .navbar-toggle .icon-bar {
  background-color: #fff;
}
#top-nav.skin-6 .brand {
  color: #BECFE0;	
  background: #2B333C;
}
#top-nav.skin-6 .brand:hover
,#top-nav.skin-6 .brand:focus {
  color: #fff;	
}
#top-nav.skin-6 .page-title {
  color: #BECFE0;
}
#top-nav.skin-6 .nav-notification > li.open {
  background: #415160;
}
#top-nav.skin-6 .nav-notification > li:hover {
  background: #415160;
}
#top-nav.skin-6 .nav-notification > li > a {
  color: #BECFE0;
}
#top-nav.skin-6 .nav-notification > li > a:hover,
#top-nav.skin-6 .nav-notification > li > a:focus {
  color: #fff;
}
